<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">PokéMon<small style="color: gray">Cocktails</small></a>
  <div class="home-banner text-center">
    <p>
      <span class="moving-text" id="banner-typed-text"></span>
    </p>
  </div>
</nav>



<div class="cocktail-cards d-flex align-items-center justify-content-around">
  <div class="row">
    <% @cocktails.each_with_index do |cocktail, index| %>
      <div class="col-sm-12 col-md-6 col-lg-4" >
        <div class="cocktail-card" data-aos="flip-left">
          <%= index+1 %>. <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="footer">
  <small><%= link_to "+Add Cocktail", new_cocktail_path %></small>
</div>

<script>
  AOS.init();
</script>