.cocktail-cards {
  border-radius: 3px;
  margin: 16px 32px;
  padding: 0 auto;
}

.cocktail-card {
  height: 200px;
  border-radius: 3px;
  border: 1px solid gray;
  background: rgba(0,0,0,0.5);
  margin: 0 16px 16px 16px;
}