// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";

.container {
  background-color:  rgba(226, 222, 222, 0.623);
  border: 1px solid rgba(187, 187, 187, 0.671);
  box-shadow: 0 0 3px black;
  border-radius: 3px;
  margin: 0 auto;
  padding: 0 auto;
}

.card {
  height: 200px;
  background-color: cadetblue;
}

body {
  background-color: rgba(187, 187, 187, 0.671) ;
}